Flask==2.3.3
#Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.0.5
Flask-Cors==4.0.0
psycopg2-binary==2.9.9
gunicorn==21.2.0
python-dotenv==1.0.0
boto3==1.28.38
requests==2.31.0
graphene==2.1.9
graphene-sqlalchemy==2.3.0
flask-graphql==2.0.1
Flask-SQLAlchemy==2.5.1
SQLAlchemy==1.4.49
flask-restx==1.1.0

